*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_page nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 2rem auto ;
}
.home_page nav .search__user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.home_page nav .lien_de_navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.home_page .home_page_body{
    height: 100vh;
    background-image: url(/ArticlePharmacie/assets/images/homePageImage.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
