/* --- Variables --- */
:root {
    --primary-color: #007dab;
    --secondary-color: #181818;
    --background-color: #7103030b;
    --border-color: #000;
    --light-gray: rgba(156, 156, 156, 0.466);
    --hover-bg-color: #ededed;
    --modal-bg-color: #fff;
    --box-shadow: 0 15px 30px 0 rgba(0, 125, 171, 0.15);
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}

/*Google fonts*/
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* --- Global Styles --- */
body,
main {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* --- Header Styles --- */
header {
    color: var(--secondary-color);
    border: transparent;
    height: 100vh;
    width: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

header h1 {
    font-size: 20px;
}

/* --- Button User Styles --- */
.BtnUser {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
    margin: 20% 0%;
    transition: all 0.3s ease;
}

.BtnUser .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 3% 1%;
    border-radius: 10px;
    border: 1px solid var(--modal-bg-color);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.BtnUser .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--modal-bg-color);
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.BtnUser:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.BtnUser:hover .svgContainer {
    background-color: var(--light-gray);
    backdrop-filter: blur(4px);
}

/* --- Content Element Styles --- */
.contentElement {
    background-color: #fff;
    height: 150px;
    width: 400px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 1%;
    border-radius: 8px;
    border: 1px solid #57f92b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1%;
}

/* Style global pour chaque élément de produit */
.contentElement {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contentElement:hover {
    transform: scale(1.05);
    background-color: #292a2b8e;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Section image */
.contentElement span.img {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.contentElement span.img img {
    width: 80px;
    /* Taille cohérente */
    height: 80px;
    border-radius: 50%;
    /* Image circulaire */
    object-fit: cover;
}

/* Section texte et lien */
.contentElement span.flex_span {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

.contentElement span.flex_span h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    color: #333;
}

.contentElement span.flex_span p {
    font-size: 12px;
    margin: 5px 0;
    color: #666;
}

.contentElement span.flex_span a {
    font-size: 12px;
    color: #57f92b;
    text-decoration: none;
    margin-top: 5px;
    transition: color 0.3s;
}

.contentElement span.flex_span a:hover {
    color: #2c9f18;
}



/* --- Container Styles --- */
.container {
    width: 83vw;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1% 1%;
    display: none;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1%;
    position: relative;
    background-color: #f3f1f1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    display: none;
    /* Par défaut, tous les conteneurs sont masqués */
}

.container.active {
    display: flex;
    /* Affiche les conteneurs ayant la classe active */
}

/* --- Modal Styles --- */
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.modal-header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-body {
    padding: 0.5rem;
    display: flex;
    gap: 2%;
}

.modal-footer {
    padding: 0 1.5rem 1.5rem;
}

.modal-title {
    font-weight: 700;
    font-size: 1.25rem;
}

/* --- Form and Button Styles --- */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group+.form-group {
    margin-top: 1.5rem;
}

.form-label {
    font-weight: 700;
    font-size: 0.875rem;
}

.form-input {
    display: block;
    margin-top: 0.4rem;
    border: 1px solid #DDD;
    border-radius: 0.25rem;
    padding: 0.75rem;
    transition: 0.15s ease;
}

.form-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color), 0 0 0 4px rgba(0, 125, 171, 0.25);
}

.form-input--textarea {
    min-height: 100px;
    max-width: 100%;
}

.form-description {
    font-size: 0.8rem;
    margin-top: 0.2rem;
    color: #8d8d8d;
}

.form-section {
    width: 100%;
    margin: 2%;
}

/* File Input Styles */
#file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    padding: 0.75rem 1.25rem;
    background: var(--primary-color);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
    background: #006489;
}

/* --- Button Icon Styles --- */
.icon-button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
}

.icon-button:focus,
.icon-button:hover {
    background-color: var(--hover-bg-color);
}

/* Primary Button Style */
.primary-button {
    background-color: #1cc972;
    border-color: #1cc972;
    color: #FFF;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 0.875rem;
}

.primary-button:hover {
    background-color: #006489;
}

#addElement5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 10%;
    background-color: #fef9f9bf;
}

.form-submit-btn a{
    text-decoration: none;
    color: #fff;
}


