/* Style de la div du médicament */
.deleteDiv {
    position: relative;
    width: 435px;
    /* Largeur fixe pour la div */
    height: 220px;
    box-sizing: border-box;
    /* Hauteur égale à la largeur pour un format carré */
    border: 1px solid #37fd10;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 0.5%;
    overflow: hidden;
    /* Cache le débordement */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
    /* Transition pour l'effet hover */
}

/* Contenu de la div du médicament */
.deleteDivContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 10px;
    /* Positionner le texte au bas */
}

/* Image du médicament - Cercle */
.deleteDivContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #37fd10;
    /* Pour rendre l'image ronde */
    object-fit: cover;
    /* Assure que l'image remplit le cercle */
    margin-bottom: 10px;
}

/* Titre et description */
.deleteDivContainer h3,
.deleteDivContainer p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

/* Bouton de suppression - caché par défaut */
.red-btn {
    display: none;
    /* Caché par défaut */
    position: absolute;
    /* Positionné par rapport à .contentElement */
    top: 50%;
    /* Aligné en bas de la div */
    left: 50%;
    transform: translateX(-50%, -50%);
    background-color: #f92b2b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Affichage du bouton lors du survol */
.deleteDiv:hover .red-btn {
    display: block;
    transform: translateX(-50%) scale(1);
}

.deleteDiv:hover{
    background-color: #f7f5f537;
}


/* Style du bouton sur survol */
.red-btn:hover {
    background-color: darkred;
}

.contentElementLas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centre verticalement */
    align-items: center;
    /* Centre horizontalement */
    margin: 0 auto;
    height: 100%;
    /* Assurez-vous que la hauteur de la div parent est définie pour un centrage vertical */
    width: 100%;
    /* Optionnel si vous voulez que la div occupe toute la largeur disponible */
}

.deleteDivContainerRow{
    position: relative;
    width: 424px;
    /* Largeur fixe pour la div */
    height: 220px;
    box-sizing: border-box;
    /* Hauteur égale à la largeur pour un format carré */
    border: 1px solid #37fd10;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 0.5%;
    overflow: hidden;
    /* Cache le débordement */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    /* Transition pour l'effet hover */
}


.left_arrowR,
.right_arrowR {
    border: 1px solid #57f92b;
    width: 50px;
    height: 50px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #57f92b;
    /* Couleur par défaut de l'icône */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.left_arrowR:hover,
.right_arrowR:hover {
    background-color: #57f92b;
    /* Couleur identique à la bordure */
    color: #fff;
    /* Texte ou icône en blanc pour contraste */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Ombre légère pour profondeur */
}